doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name="mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-capable" content="yes")
  body
    block content
  script(src="https://code.jquery.com/jquery-3.2.1.min.js")
  script(src="jquery/jquery.vibrate.js")
  script(src="jquery/shake.js")

