extends layout

block content
  header
    h1.pagename welkom #{AdminName}

  div.containerbtn
    div.btn#Function1 meeklappen

    div.btn#Function2 clubkleur

    div.btn#Function3 wave

    div.btn#Function4 zingen



  script(src='/primus/primus.js')
  script(src="/javascripts/socket.js")
